*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.align-items-center {
    align-items: center!important;
}

.d-flex {
    display: flex!important;
}

#hero {
    width: 100%;
    height: 80vh;
    background: #37517e;
}
.align-items-center {
    align-items: center!important;
}
.d-flex {
    display: flex!important;
}
section {
    padding: 60px 0;
    overflow: hidden;
}

*, ::after, ::before {
    box-sizing: border-box;
}

#hero .container {
    padding-top: 72px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

main {
    display: block;
}

#footer {
    font-size: 14px;
    background: #37517e;
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #f3f5fa;
    text-align: center;
    font-size: 15px;
    color: #444444;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
}

#footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #47b2e4;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.align-items-center {
    align-items: center!important;
}
.justify-content-center {
    justify-content: center!important;
}
.d-flex {
    display: flex!important;
}
a {
    color: #47b2e4;
    text-decoration: none;
}


#header{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    background: #023b6d;
    display: flex;
    align-items: center;
    top: 0;
}