*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    height: 160px;
    width: 1366px;
    background-color: rgb(115, 190, 64);
    color: rgba(0, 0, 7, 0.705);
    padding: 25px;
    font-weight: 600;
    padding-left: 50px;
    display: flex;
    position: fixed;
    top: 0;
}



.header ul{
    list-style: none;
    display: flex;
    padding: 20px;
}

.header ul li{
    padding: 20px;
}



.IMG{
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.navleft{
    font-size: 20px;
}


.navright{
    font-size: 20px;
    margin-left: 250px;
}
li{
    font-size: 25px;
}



.section{
    height: 500px;
    width: 1366px;
    background: linear-gradient(45deg, rgb(255, 2, 2), rgb(1, 1, 250));
    display: flex;
    color: rgb(0, 0, 0);
    margin-top: 160px;
}

.left{
    margin-top: 50px;
    padding: 75px;
    font-size: 30px;
    
}

.light{
    font-size: 12px;
    margin-left: 20px;
    font-size: small;

    
}

.dark{
    font-size: 12px;
    color: rgb(0, 0, 0);
    margin-left: 40px;
    font-size: small;
}

.container{
    margin-left: 430px;
    display: flex;
    
}




.card-img-top{
    height: 248px;
    width: 250px;
    border-radius: 150px;
    
    
}
.card-img-top-right{
    height: 248px;
    width: 250px;
    border-radius: 150px;
    
}
.card-img-bottom{
    height: 248px;
    width: 250px;
    border-radius: 150px;
    
}
.card-img-bottom-right{
    height: 248px;
    width: 250px;
    border-radius: 150px;
    
}

.row2{
    margin-left: 30px;
}

.section2{
    height: 500px;
    width: 1366px;
    background-color: rgb(111, 34, 212);
    padding: 75px;
    
}

.row{
    height: 100%;
    width: 100%;
    background-color: rgb(228, 233, 222);
    display: flex;
}

.Card-img{
    height: 200px;
    width: 340px;
    margin-left: 45px;
    margin-top: 50px;
}

.myob{
    margin-left: 55px;
}

.myob-caption{
    margin-left: 55px;
}

.belimo{
    margin-left: 55px;
}

.belimo-caption{
    margin-left: 55px;
}

.lifegroup{
    margin-left: 55px;
}

.lifegroup-caption{
    margin-left: 55px;
}

.main{
    height: 220px;
    width: 1366px;
    background-color: blueviolet;
    padding: 75px;
    text-align: center;
    
}

.landing{
    font-size: 60px;
    font-weight: 900;
}
  
