*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


    
body {
        font-family: "Open Sans", sans-serif;
        color: #444444;
        margin: 0;
        font-family: var(--bs-body-font-family);
        font-size: var(--bs-body-font-size);
        font-weight: var(--bs-body-font-weight);
        line-height: var(--bs-body-line-height);
        color: var(--bs-body-color);
        text-align: var(--bs-body-text-align);
        background-color: var(--bs-body-bg);
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
}
.fixed-top{
    position: fixed;
    top: 0;
}

.logo{
    position: fixed;
    top: 0;
}
.navbar{
    display: flex;
    position: fixed;
    top: 0;
    margin-left: 200px;
}

.One{
    display: flex;
}

.Two{
    display: flex;
}


.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.align-items-center {
    align-items: center!important;
}

.d-flex {
    display: flex!important;
}

#hero {
    width: 100%;
    height: 80vh;
    background: #37517e;
}
.align-items-center {
    align-items: center!important;
}
.d-flex {
    display: flex!important;
}
section {
    padding: 60px 0;
    overflow: hidden;
}



#hero .container {
    padding-top: 72px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

main {
    display: block;
}

#footer {
    font-size: 14px;
    background: #37517e;
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #f3f5fa;
    text-align: center;
    font-size: 15px;
    color: #444444;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
}

#footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #47b2e4;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.align-items-center {
    align-items: center!important;
}
.justify-content-center {
    justify-content: center!important;
}
.d-flex {
    display: flex!important;
}
a {
    color: #e0e9f3;
    text-decoration: none;
}


#header{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    background: #007aff;
    display: flex;
    align-items: center;
    top: 0;
}

#hero .container {
    padding-top: 72px;
  }